.contact-section {
  padding: 30px 10px 40px 10px;
  text-align: center;
}
.contact-section h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  text-shadow: 0 2px 4px  rgba(143, 137, 143, 0.2);

}
.section-subtitle {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 24px;
}
.contact-grid {
  display: grid;
    grid-template-columns:auto auto auto;

  /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */
  gap: 12px;
}
.contact-card {
  border: 1px solid rgb(245, 237, 237);
  border-radius: var(--radius-md);
  padding: 20px 5px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 14px 0 rgba(133, 116, 133, 0.39);
  transition: all 0.3s ease;
}
.contact-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.contact-card h3 {
  font-size: 0.8rem;
  margin-bottom: 8px;
  margin-top: 5px;
}
.contact-card p {
  font-size: 0.5rem;
  color: #666;
  margin-bottom: 9px;
  height: auto;
}
.contact-card img {
  width: 100px;
}
.contact-link {
  font-size: 0.4rem;
  font-weight: 600;
  color: white;
  background-color: rgb(111, 97, 122);
  padding: 8px;
  border-radius: 15px;
  width: 75%;
}

@media (max-width: 768px) {
  .contact-card img {
    width: 30px;
  }
}
