.social-banner {
  display: flex;
  /* flex-direction: column; */
  padding: 40px 16px;
  background: #ffffff;
  align-items: center;
  justify-content: space-around;
  padding: 40px ;
  border: solid 1px gainsboro;
  border-radius: 30px;
}
.social-banner__text h2 {
  font-size: 4.8rem;
  font-weight: 400;
}
.social-banner__text h3 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.social-banner__btn {
  display: inline-block;
  background: var(--color-black);
  color: white;
  padding: 12px 24px;
  border-radius: var(--radius-pill);
  font-size: 1.8rem;
  font-weight: 600;
}
.social-banner__image img {
  width: 100%;
  max-width: 300px;
}
@media (min-width: 768px) {
  .social-banner {
    flex-direction: row;
    text-align: left;
  }
}

@media (max-width: 968px) {
  .social-banner h3{
    font-size: 3rem;
  }

  .social-banner h2{
    font-size: 3rem;
  }

  .social-banner__btn {
    font-size: 1rem;
  }

} 
@media (max-width: 480px) {

    .social-banner{
        padding: 20px 20px 0 20px;
    }
  
.social-banner__text h2 {
  font-size: 1.5rem;
}
.social-banner__text h3 {
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.social-banner__btn {
  padding: 12px 12px;
  font-size: 0.6rem;
  width: 180px;
} 
  }

  @media (max-width: 400px) {
  
.social-banner__text h2 {
  font-size: 1rem;
}
.social-banner__text h3 {
  font-size: 1rem;
}
.social-banner__btn {
  font-size: 0.6rem;
} 
  }
