.announcement-bar {
  background: var(--color-black);
  color: var(--color-white);
  text-align: center;
  padding: 8px 16px;
  font-size: 0.70rem;
  font-weight: 500;
  font-family:"Lucidity Condensed", sans-serif;
}