.category-showcase {
  padding: 0px; 
  position: relative;
  z-index: 10;
  margin-top: -27px; 
  /* background-image: url(/images/banners/background.png); */
}
.section-title {
  font-size: 1.5rem;
  margin-bottom: 24px;
  text-align: center;
}
.category-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 0px;
}
.category-card {
  display: flex;
  gap: 16px;
  background: var(--color-white);
  border-top-left-radius: 25px;
  border-top-right-radius: 35px;
  border-top: 2px solid rgb(12, 12, 12);
  border-left:1px solid rgb(12, 12, 12) ;
border-right:1px solid rgb(12, 12, 12) ;

  padding: 16px;
  align-items: center;
  transition: transform 0.2s;
}
.category-card:hover {
  transform: scale(1.02);
}
.category-card__img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.category-card__info h3 {
  font-size: 1.1rem;
  margin-bottom: 4px;
}
.category-card__info p {
  font-size: 0.85rem;
  color: #666;
}
.category-card__link {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-purple);
  margin-top: 8px;
  display: inline-block;
}
